.splitter {
	width: 500px;
	height: 500px;
	display: flex;
}

#seperator {
	cursor: col-resize;
	background: url(https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/vsizegrip.png) center center no-repeat lightgray;	
	width: 10px;
	height: 100px;
	min-width: 10px;
}

#first {
	background-color: lightgreen;
	width: 100px;
	height: 100px;
	min-width: 10px;
}

#second {
	background-color: lightblue;
	width: 390px;
	height: 100px;
	min-width: 10px;
}
